<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KDS - Spice</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">    
    <link rel="stylesheet" href="/stylesheets/jquery-confirm.min.css">
    <link rel="shortcut icon" type="favicon" href="/images/spice.ico">  
    <script src="/javascripts/jquery-3.3.1.min.js"></script>            
    <script src="/javascripts/bootstrap.min.js"></script>        
    <script src="/javascripts/jquery-confirm.min.js"></script>            
</head>
    <body>
        <header>
            <nav class="navbar bg-dark navbar-dark">        
                <img src="/images/logoSpiceBranco.png" alt="Logo Spice Aterdata">        
                <form class="form-inline">                                                  
                    <div class="input-group">                        
                        <input type="text" name="pesquisar" value="" placeholder="Digite sua pesquisa" class="form-control">    
                    </div>        
                </form>
            </nav>  
        </header>    
        <main class="container-fluid">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 scroll">      
                <div class="row">                                         
                </div>
            </div>
        </main>    
        <footer class="footer">        
            <div>            
                <img class="logoAlterdata" src="/images/logo_alterdata.png" alt="Logo Alterdata">            
            </div>
        </footer>        
    </body>
    <script src="/socket.io/socket.io.js"></script>   
    <script src="/javascripts/cronometro.js"></script>    
    <script src="/javascripts/navegacaocard.js"></script>  
    <script src="/javascripts/showmodal.js"></script>            
    <script src="/javascripts/inserirPedido.js"></script>
    <script src="/javascripts/index.js"></script>
</html>